.header-day, .header .departudeDay, .header input, .footer .footerBetween .footer-email input, .footer .footerBetween .footer-email button {
  height: 30px;
  padding-top: 4px;
  padding-left: 5px;
  margin-bottom: 20px;
  color: #ffffff;
  border: 1px solid #ff9f1c; }

.hr-radius, .content .main-comment hr, .footer .footerTop hr, .footer .footerBetween hr {
  width: 80px;
  min-height: 10px;
  background: #ff9f1c;
  border: 1px solid #ff9f1c;
  border-radius: 8px; }

.header {
  background: url("../images/background.png");
  background-size: cover;
  border-top: 10px solid #000000;
  margin-bottom: 30px; }
  .header .headerTop {
    background-color: rgba(0, 0, 0, 0.5); }
  .header .logo-img {
    width: 100%; }
  .header .menu {
    z-index: 900;
    position: relative;
    float: right;
    color: #FFFFFF; }
    .header .menu ul {
      padding-left: 0px; }
      .header .menu ul li {
        list-style-type: none;
        border-bottom: 1px solid #ff9f1c;
        padding-top: 10px;
        padding-bottom: 10px; }
    .header .menu p {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      padding-left: 10px; }
    .header .menu .menu-hr {
      margin-left: 30px;
      margin-right: 30px; }
    .header .menu .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      padding-top: 60px; }
    .header .menu .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      display: block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      color: #ffffff;
      font-size: 18px;
      font-weight: bold; }
      .header .menu .sidenav a:hover {
        color: #ff9f1c; }
    .header .menu .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px; }
  .header .header-text__1, .header .header-text__3 {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px; }
  .header .header-text__2 {
    color: #ff9f1c;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Pacifico', cursive; }
  .header .header-text__3 {
    font-size: 20px; }
  .header .departudeDay {
    background: #ff9f1c; }
  .header .fa-calendar-o {
    float: right;
    margin-right: 5px; }
  .header input {
    width: 100%;
    background: transparent; }
  .header ::-webkit-input-placeholder {
    color: #ffffff; }
  .header :-moz-placeholder {
    color: #ffffff; }
  .header ::-moz-placeholder {
    color: #ffffff; }
  .header :-ms-input-placeholder {
    color: #ffffff; }
  .header button {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: #ff9f1c;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid #ff9f1c;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-bottom: 30px; }
    .header button:hover {
      background: #ec0303;
      border: 1px solid #ec0303; }

.content .main-1, .content .main-2 {
  border-bottom: 1px solid #ff9f1c;
  padding-bottom: 30px; }
  .content .main-1 h1, .content .main-2 h1 {
    color: #ec0303;
    padding-bottom: 30px; }
  .content .main-1 .main-img, .content .main-2 .main-img {
    position: relative; }
    .content .main-1 .main-img img, .content .main-2 .main-img img {
      width: 100%; }
    .content .main-1 .main-img h2, .content .main-2 .main-img h2 {
      position: absolute;
      top: 0;
      left: 5px;
      background: #ec0303;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      padding: 5px; }
    .content .main-1 .main-img .main-map, .content .main-2 .main-img .main-map {
      position: absolute;
      bottom: 0px;
      left: 5px;
      width: 70%;
      height: 30px;
      background: rgba(77, 148, 202, 0.7); }
      .content .main-1 .main-img .main-map p, .content .main-2 .main-img .main-map p {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        padding-left: 5px; }
        .content .main-1 .main-img .main-map p .fa-map-marker, .content .main-2 .main-img .main-map p .fa-map-marker {
          color: #ff9f1c;
          padding-right: 10px; }
  .content .main-1 img, .content .main-2 img {
    width: 30%;
    padding-left: 5px; }
  .content .main-1 .text-1, .content .main-2 .text-1, .content .main-1 .text-2, .content .main-2 .text-2, .content .main-1 .text-3, .content .main-2 .text-3 {
    color: #098efe;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 5px; }
  .content .main-1 .text-2, .content .main-2 .text-2 {
    color: #333333;
    font-size: 18px;
    font-weight: bold; }
  .content .main-1 .text-3, .content .main-2 .text-3 {
    color: #ec0303;
    font-size: 22px;
    font-weight: bold; }
    .content .main-1 .text-3 strike, .content .main-2 .text-3 strike {
      color: #BBBBBB;
      font-size: 16px;
      font-weight: bold; }

.content .main-2 {
  border-bottom: 1px solid #ff9f1c;
  padding-bottom: 30px; }
  .content .main-2 h1 {
    color: #333333; }
  .content .main-2 .main-background__1 {
    background: url("../images/images-bi.png");
    height: 450px; }
  .content .main-2 .main-background__text {
    margin-top: -400px; }
  .content .main-2 .main-background__bottom {
    margin-top: 340px; }

.content .main-comment {
  padding-bottom: 30px; }
  .content .main-comment p {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px; }
  .content .main-comment img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: table; }
  .content .main-comment .comment-text__1 {
    color: #333333;
    font-size: 22px;
    font-weight: bold;
    text-align: center; }
  .content .main-comment .comment-text__2, .content .main-comment .comment-text__3 {
    color: #AAAAAA;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 0px; }
  .content .main-comment .comment-text__3 {
    font-weight: 200; }

.footer {
  background: #333333; }
  .footer .footer-text__1, .footer .footerBetween .footer-text__2 {
    color: #ff9f1c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px; }
  .footer .footerTop p {
    color: #ff9f1c;
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px; }
  .footer .footerTop hr {
    margin-left: 0px; }
  .footer .footerTop ul {
    padding-left: 0px;
    padding-bottom: 30px; }
    .footer .footerTop ul li {
      margin-bottom: 10px; }
      .footer .footerTop ul li a {
        color: #FFFFFF;
        font-size: 16px; }
        .footer .footerTop ul li a:hover {
          color: #ff9f1c; }
  .footer .footerBetween .atm-1 {
    margin-bottom: 20px; }
    .footer .footerBetween .atm-1 img {
      width: 100%; }
  .footer .footerBetween .footer-email input {
    width: 90%;
    background: #FFFFFF;
    color: #111111; }
  .footer .footerBetween .footer-email button {
    background: #ff9f1c;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: -2px; }
    .footer .footerBetween .footer-email button:hover {
      background: #ec0303; }
  .footer .footerBetween .footer-text__2 {
    font-size: 18px;
    padding-top: 0px; }
  .footer .footerBetween .footer-text__3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }
  .footer .footerBetween .footer-map {
    margin-bottom: 20px; }
    .footer .footerBetween .footer-map .map {
      margin-top: 20px;
      width: 50px;
      height: 50px;
      border: 1px solid #FFFFFF;
      border-radius: 25px;
      background: #333333; }
      .footer .footerBetween .footer-map .map:hover {
        background: #ec0303; }
      .footer .footerBetween .footer-map .map i {
        margin: auto;
        display: table;
        margin-top: 13px;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold; }
    .footer .footerBetween .footer-map .map-text__1 {
      color: #ff9f1c;
      font-size: 18px;
      font-weight: bold; }
    .footer .footerBetween .footer-map .map-text__2 {
      color: #ffffff;
      font-size: 16px;
      font-weight: bold; }
    .footer .footerBetween .footer-map .phone {
      padding-top: 25px; }
  .footer hr {
    background: #ff9f1c; }
  .footer .footerText {
    color: #ff9f1c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px; }
