$primary-color_1: #ff9f1c;
$primary-color_2: #ec0303;
$primary-color_3: #333333;
$primary-color_4: #ffffff;
$primary-color__5: #098efe;
@mixin text-color__1($color, $size){
   color: $color;
   font-size: $size;
   font-weight: bold;
}
@mixin main-background($height, $width, $background, $padding-top, $padding-left, $margin-top){
   height: $height;
   width: $width;
   background: $background;
   padding-top: $padding-top;
   padding-left: $padding-left;
   margin-top: $margin-top;
}
.header-day{
   height: 30px;
   padding-top: 4px;
   padding-left: 5px;
   margin-bottom: 20px;
   color: $primary-color_4;
   border: 1px solid $primary-color_1;
}

.hr-radius{
   width: 80px;
   min-height: 10px;
   background: #ff9f1c;
   border: 1px solid #ff9f1c;
   border-radius: 8px;
}
//====header====
.header{
   background: url("../images/background.png");
   background-size: cover;
   border-top: 10px solid #000000;
   margin-bottom: 30px;
   .headerTop{
      background-color: rgba(0, 0, 0, 0.5);
   }
   .logo-img{
      width: 100%;
   }
   .menu{
      z-index: 900;
      position: relative;
      float: right;
      color: #FFFFFF;
      ul{
         padding-left: 0px;
         li{
            list-style-type: none;
            border-bottom: 1px solid $primary-color_1;
            padding-top: 10px;
            padding-bottom: 10px;
         }
      }
      p{
         @include text-color__1(#ffffff, 16px);
         padding-left: 10px;
      }
      .menu-hr{
         margin-left: 30px;
         margin-right: 30px;
      }
      .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: #111;
         overflow-x: hidden;
         transition: 0.5s;
         padding-top: 60px;
      }

      .sidenav a {
         padding: 8px 8px 8px 32px;
         text-decoration: none;
         display: block;
         transition: 0.3s;
         @include text-color__1(#ffffff, 18px);
         &:hover{
            color: $primary-color_1;
         }
      }
      .sidenav .closebtn {
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
      }
   }

   .header-text__1{
      @include text-color__1(#ffffff, 23px);
      text-align: center;
      padding-top: 70px;
   }
   .header-text__2{
      @include  text-color__1(#ff9f1c, 30px);
      text-align: center;
      font-family: 'Pacifico', cursive;
   }
   .header-text__3{
      @extend .header-text__1;
      font-size: 20px;
   }
   .departudeDay{
      @extend .header-day;
      background: $primary-color_1;
   }
   .fa-calendar-o{
      float: right;
      margin-right: 5px;
   }
   input{
      width: 100%;
      @extend .header-day;
      background: rgba(0, 0, 0, 0);
   }
   ::-webkit-input-placeholder {
      color: #ffffff;
   }
   :-moz-placeholder {
      color: #ffffff;
   }
   ::-moz-placeholder {
      color: #ffffff;
   }
   :-ms-input-placeholder {
      color: #ffffff;
   }
   button{
      @include text-color__1(#ffffff, 18px);
      background: $primary-color_1;
      padding: 7px 20px;
      border-radius: 20px;
      border: 1px solid $primary-color_1;
      margin-left: auto;
      margin-right: auto;
      display: table;
      margin-bottom: 30px;
      &:hover{
         background: $primary-color_2;
         border: 1px solid $primary-color_2;
      }
   }
}
//====content====
.content{
   .main-1{
      border-bottom: 1px solid $primary-color_1;
      padding-bottom: 30px;
      h1{
         color: $primary-color_2;
         padding-bottom: 30px;
      }
       .main-img{
          position: relative;
          img{
             width: 100%;
          }
          h2{
             position: absolute;
             top: 0;
             left: 5px;
             background: $primary-color_2;
             @include text-color__1(#ffffff, 20px);
             padding: 5px;
          }
          .main-map{
             position: absolute;
             bottom: 0px;
             left: 5px;
             width: 70%;
             height: 30px;
             background: rgba(77, 148, 202, 0.7);
             p{
                @include text-color__1(#ffffff, 20px);
                padding-left: 5px;
                .fa-map-marker{
                   color: $primary-color_1;
                   padding-right: 10px;
                }
             }
          }
       }
       img{
          width: 30%;
          padding-left: 5px;
       }
      .text-1{
         @include text-color__1($primary-color__5, 20px);
         padding-top: 20px;
         padding-left: 5px;
      }
      .text-2{
         @extend .text-1;
         @include text-color__1($primary-color_3, 18px)
      }
      .text-3{
         @extend .text-1;
         @include text-color__1($primary-color_2, 22px);
         strike{
            @include text-color__1(#BBBBBB	, 16px);
         }
      }
   }
   .main-2{
      border-bottom: 1px solid $primary-color_1;
      padding-bottom: 30px;
      @extend .main-1;
      h1{
         color: $primary-color_3;
      }
      .main-background__1{
         background: url("../images/images-bi.png");
         height: 450px;
      }
      .main-background__text{
         margin-top: -400px;
      }
      .main-background__bottom{
         margin-top: 340px;
      }
   }
   .main-comment{
      padding-bottom: 30px;
      p{
         @include text-color__1($primary-color_3, 24px);
         padding-top: 20px;
      }
      img{
         width: 70%;
         margin-left: auto;
         margin-right: auto;
         display: table;
      }
      .comment-text__1{
         @include text-color__1($primary-color_3, 22px);
         text-align: center;
      }
      .comment-text__2{
         @include text-color__1(#AAAAAA, 20px);
         text-align: center;
         padding-top: 0px;
      }
      hr{
         @extend .hr-radius;
      }
      .comment-text__3{
         @extend .comment-text__2;
         font-weight: 200;
      }
   }
}
.footer{
   background: $primary-color_3;
   .footer-text__1{
      @include text-color__1($primary-color_1, 24px);
      text-align: center;
      padding-top: 25px;
   }
   .footerTop{
      p{
         @include text-color__1($primary-color_1, 18px);
         padding-top: 25px;
      }
      hr{
         @extend .hr-radius;
         margin-left: 0px;
      }
      ul{
         padding-left: 0px;
         padding-bottom: 30px;
         li{
            margin-bottom: 10px;
            a{
               color: #FFFFFF;
               font-size: 16px;
               &:hover{
                  color: $primary-color_1;
               }
            }
         }
      }
   }
   .footerBetween{
      .atm-1{
         margin-bottom: 20px;
         img{
            width: 100%;
         }
      }
      .footer-email{
         input{
            width: 90%;
            @extend .header-day;
            background: #FFFFFF;
            color: #111111;
         }
         button{
            @extend .header-day;
            background: $primary-color_1;
            padding-left: 5px;
            padding-right: 10px;
            margin-left: -2px;
            &:hover{
               background: $primary-color_2;
            }
         }
      }
      hr{
         @extend .hr-radius;
      }
      .footer-text__2{
         @extend .footer-text__1;
         font-size: 18px;
         padding-top: 0px;
      }
      .footer-text__3{
         @include text-color__1(#ffffff, 16px);
         text-align: center;
      }
      .footer-map{
         margin-bottom: 20px;
         .map{
            margin-top: 20px;
            width: 50px;
            height: 50px;
            border: 1px solid #FFFFFF;
            border-radius: 25px;
            background: $primary-color_3;
            &:hover{
               background: $primary-color_2;
            }
            i{
               margin: auto;
               display: table;
               margin-top: 13px;
               @include text-color__1(#ffffff, 20px)
            }
         }
         .map-text__1{
            @include text-color__1($primary-color_1, 18px);
         }
         .map-text__2{
            @include text-color__1(#ffffff, 16px);
         }
         .phone{
            padding-top: 25px;
         }
      }

   }
   hr{
      background: $primary-color_1;
   }
   .footerText{
      @include text-color__1($primary-color_1, 20px);
      text-align: center;
      padding-bottom: 20px;
   }
}